Schema/Ej3_mypets2.xml

<?xml version="1.0"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="mypets">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="pet" maxOccurs="unbounded"> 
                <xs:complexType>
                    <xs:choice>  
                        <xs:element name="dog" type="dades"/>
                        <xs:element name="cat" type="dades"/>
                        <xs:element name="bear" type="dades"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
  <xs:complexType name="dades">
       <xs:all>
           <xs:element name="name" type="xs:string"/>
             <xs:element name="born" type="xs:date"/>
             <xs:element name="breed" type="xs:string" minOccurs="0"/>
         </xs:all>
    <xs:attribute name="lang" type="xs:string"/>
    </xs:complexType>
</xs:schema>                               